absl-py
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
Automat
awscli
blinker
blis
bokeh
boto3
botocore
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
cmake
colorama
comtypes
confection
constantly
contourpy
cv
cycler
cymem
dataclasses-json
DateTime
distro
dlib
dnspython
docker
docutils
docx2txt
en-core-web-sm
face-recognition
face_recognition_models
faiss-cpu
filelock
Flask
Flask-PyMongo
flatbuffers
fonttools
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
groq
grpcio
grpcio-status
gTTS
h11
httpcore
httplib2
httpx
huggingface-hub
hyperlink
idna
imbalanced-learn
imblearn
imutils
incremental
intel-openmp
itsdangerous
jaraco.classes
jaraco.context
jax
jaxlib
Jinja2
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keyring
keyrings.alt
kiwisolver
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langcodes
langsmith
language_data
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mediapipe
mkl
ml-dtypes
more-itertools
mpmath
mqtt
multidict
murmurhash
mypy-extensions
networkx
numpy
openai
opencv-contrib-python
opencv-python
opt-einsum
orjson
packaging
paho-mqtt
pandas
pillow
pip
playsound
plotly
preshed
proto-plus
protobuf
psutil
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pyFirmata
Pygments
pymongo
pyparsing
PyPDF2
pypiwin32
pypng
pyserial
python-dateutil
python-dotenv
pyttsx3
pytz
pywin32
pywin32-ctypes
PyYAML
qrcode
referencing
regex
requests
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
safetensors
scikit-learn
scipy
seaborn
sentence-transformers
setuptools
shellingham
six
smart-open
smmap
sniffio
sounddevice
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
streamlit
streamlit-autorefresh
streamlit-chat
streamlit-option-menu
sympy
tabulate
tbb
tenacity
thinc
threadpoolctl
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
transformers
Twisted
twisted-iocpsupport
typer
typing_extensions
typing-inspect
tzdata
ucimlrepo
ultralytics
ultralytics-thop
uritemplate
urllib3
voluptuous
wasabi
watchdog
weasel
Werkzeug
wheel
wrapt
xyzservices
yarl
yolo
zope.interface
